.parent {
  display: grid;
  justify-content: space-around;
  align-items: center;

  &__bar {
    display: inline-block;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 82px;
    justify-content: center;
  }
  &__programs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 2px;
    padding-top: 24px;
  }
}
