.subscribe {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  background-color: white;
  form {
    margin-top: 80px;
  }
  p {
    display: flex;
    align-items: center;
    width: 799px;
    height: 72px;
    justify-content: center;
  }

  input {
    width: 825px;
    height: 104px;
    background: rgba(178, 178, 178, 0.3);
    border: none;
    padding-left: 20px;
  }
  button {
    width: 165px;
    height: 104px;
    background: #293fff;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    /* identical to box height */

    color: #ffffff;
  }
}
