.parent-bar {
  position: relative;
  form {
    display: inline-block;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 82px;

    input {
      width: 825px;
      height: 70px;
      background: rgba(178, 178, 178, 0.3);
      border: none;
    }
    button {
      width: 165px;
      height: 70px;
      background: #293fff;
      border: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 17px;

      /* identical to box height */

      color: #ffffff;
    }
  }
}
